@{
    ViewBag.Title = "AboutUs";
    ViewBag.AboutUs = "active";
}

<div id="aboutUs">
    <div class="story">
        <div class="container-fluid">
			<div class="row-fluid">
                <div class="span1"> </div>
                <div class="span9"> 
                        <h1>About us<span class="rnd">{1202}</span></h1>
                        <h3>Center content</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>
                </div>
            </div>
        </div><!--.story--> 
    </div>
</div>
