@{
    ViewBag.Title = "Contact";
    ViewBag.Contact = "active";
}

<div id="contact">

    <div class="container-fluid">
	    <div class="story">
            <div class="row-fluid">
            <div class="span8">
                <h1>Contact us<span class="rnd">{1202}</span></h1>
                <p> <strong>Phone: </strong>01795 597540<br>
                    <strong>Mobile: </strong>07590 574709<br>
                    <br>
                    <strong>Email: </strong><br>
                    <strong>Twitter: </strong><br>
                    <strong>Facebook: </strong><br>
                    </p>
            </div> <!-- /span --> 
            </div>
        </div>
    </div>


</div>
